@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url('/fonts/Roboto-Regular.woff') format(woff),
    url('/fonts/Roboto-Regular.woff2') format(woff2);
}

:root {
    --bg-color: #55a;
    --node-color: aqua;
    --btn-color: beige;
    --selected-color: black;
    --btn-focus-color: grey;
}

body {
    cursor: grab;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    margin: 0;
    font-family: "Roboto";
}

h2 {
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 101;
    margin-top: 16px;
}

button {
    all: unset;
    height: 10vw;
    width: 30vw;
    border-radius: 8px;
    background-color: var(--btn-color);
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-focus-color);
}

.node {
    cursor: pointer;
    position: fixed;
    border-radius: 100%;
    border-style: solid;
    border-width: 0px;
    background-color: var(--node-color);
}

.node:hover {
    scale: 1.1;
}

.node > *{
    display: none;
}

.shown.picture-node {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 3 4;

}

.shown {
    background-color: var(--selected-color);
}

.shown > *{
    display: block;
}

.picture-node img {
    object-fit: cover;
    width: 90%;
    height: 90%;
    border-radius: 16px;
}

@media screen and (min-width: 750px) {
    h2 {
        font-size: 32px;
    }
}
